Repository georgest32/Unity-Claude-Automation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @unity-claude/admin, @unity-claude/dev-team, @unity-claude/automation-team, @unity-claude/docs-team, @unity-claude/ai-team, @unity-claude/devops-team, @unity-claude/config-team, @unity-claude/powershell-team, @unity-claude/qa-team

.github/CODEOWNERS:

# CODEOWNERS file for Unity-Claude-Automation repository
# Generated on: 2025-08-23 22:20:15
# 
# This file defines code ownership and review requirements.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for all files (fallback)
# Pattern precedence: Last matching pattern takes priority

* @unity-claude/admin

# Specific ownership rules
/Modules/ @unity-claude/dev-team  # PowerShell modules
/scripts/ @unity-claude/automation-team
/docs/ @unity-claude/docs-team
/agents/ @unity-claude/ai-team
/.github/ @unity-claude/devops-team  # GitHub configuration
*.md @unity-claude/docs-team  # Documentation files
*.json @unity-claude/config-team
*.ps1 @unity-claude/powershell-team  # PowerShell scripts
*.psm1 @unity-claude/powershell-team
*.psd1 @unity-claude/powershell-team
*test* @unity-claude/qa-team  # Test files

# End of CODEOWNERS file
# For questions about code ownership, contact the repository administrators.

fix: Extract Python script to separate file to avoid YAML heredoc issues
  ci/xcresult_errors.py
  codemagic.yaml
Owners: @unity-claude/admin

fix: Replace malformed awk regex with robust Python JSON parsing
  codemagic.yaml
Owners: @unity-claude/admin

fix: Extract simulator selection to Python script avoiding YAML issues
  ci/select_simulator.py
  codemagic.yaml
Owners: @unity-claude/admin

codemagic yaml15
  codemagic.yaml
Owners: @unity-claude/admin

fix: Remove all YAML heredoc syntax to eliminate parsing errors
  codemagic.yaml
Owners: @unity-claude/admin

fix: Eliminate ALL YAML heredoc conflicts with external Python scripts
  ci/extract_build_errors.py
  ci/select_simulator.py
  ci/show_source_context.py
  codemagic.yaml
Owners: @unity-claude/admin

fix: Make simulator selection self-contained and remove unused JSON file
  ci/select_simulator.py
  codemagic.yaml
Owners: @unity-claude/admin

feat: Add comprehensive build diagnostics for ComputeTargetDependencyGraph failures
  ci/detect_dependency_errors.py
  codemagic.yaml
Owners: @unity-claude/admin

feat: Add Swift macro plugin verification guard for early failure detection
  codemagic.yaml
Owners: @unity-claude/admin

fix: Add Swift Macro Expansion build phase with TCA macro plugins
  iOS-App/AgentDashboard/AgentDashboard.xcodeproj/project.pbxproj
Owners: @unity-claude/admin

fix: Implement automated Swift macro enablement with proper Xcode project structure
  ci/enable_swift_macros.py
  codemagic.yaml
  iOS-App/AgentDashboard/AgentDashboard.xcodeproj/project.pbxproj
Owners: @unity-claude/admin

fix: Restore clean project and use build settings for macro enablement
  codemagic.yaml
Owners: @unity-claude/admin

fix: Restore full-featured AgentsFeature with TCA 1.22 compatibility
  iOS-App/AgentDashboard/AgentDashboard/TCA/AgentsFeature.swift
Owners: @unity-claude/admin

fix: Fix TCA 1.22 compilation issues while preserving all functionality
  iOS-App/AgentDashboard/AgentDashboard/TCA/AgentsFeature.swift
Owners: @unity-claude/admin

fix: Comprehensive Swift 6/TCA 1.22 fixes with full functionality preserved
  iOS-App/AgentDashboard/AgentDashboard/Network/APIClient.swift
  iOS-App/AgentDashboard/AgentDashboard/TCA/AgentsFeature.swift
Owners: @unity-claude/admin

boop
  build_status_check.md
Owners: @unity-claude/docs-team

build try 4
  iOS-App.zip
  iOS-App/AgentDashboard/AgentDashboard/Network/APIClient.swift
  import_fix_summary.md
Owners: @unity-claude/admin, @unity-claude/docs-team

build try 5
  iOS_Codemagic_Build_Summary.md
  iOS_build_error_analysis.md
  iOS_build_fixes_applied.md
Owners: @unity-claude/docs-team

build try 6
  Codemagic_Build_Failure_Analysis_20250903.md
  IMPORTANT_LEARNINGS.md
Owners: @unity-claude/docs-team

build try 7
  Codemagic_Continued_Build_Failure_Analysis_20250903.md
  IMPORTANT_LEARNINGS.md
  iOS-App.zip
  iOS-App/AgentDashboard/AgentDashboard/ContentView.swift
  iOS-App/AgentDashboard/AgentDashboard/TCA/AnalyticsFeature.swift
  iOS-App/AgentDashboard/AgentDashboard/TCA/AppFeature.swift
  iOS-App/AgentDashboard/AgentDashboard/TCA/SettingsFeature.swift
  iOS-App/AgentDashboard/AgentDashboard/Views/ContentView.swift
Owners: @unity-claude/docs-team, @unity-claude/admin

build try 8
  IMPORTANT_LEARNINGS.md
  iOS-App/AgentDashboard/AgentDashboard/AgentDashboardApp.swift
  iOS-App/AgentDashboard/AgentDashboard/AppFeature.swift
  iOS-App/AgentDashboard/AgentDashboard/DashboardView.swift
  iOS-App/AgentDashboard/AgentDashboard/Network/EnhancedWebSocketClient.swift
  iOS-App/AgentDashboard/AgentDashboard/Network/OptimizedWebSocketClient.swift
  iOS-App/AgentDashboard/AgentDashboard/Network/WebSocketClient.swift
  iOS-App/AgentDashboard/AgentDashboard/Network/WebSocketDependency.swift
  iOS-App/AgentDashboard/AgentDashboard/Services/AccessibilityService.swift
  iOS-App/AgentDashboard/AgentDashboard/Services/AnimationService.swift
  iOS-App/AgentDashboard/AgentDashboard/Services/AuditLoggingService.swift
  iOS-App/AgentDashboard/AgentDashboard/Services/BiometricAuthenticationService.swift
  iOS-App/AgentDashboard/AgentDashboard/Services/BugTrackingService.swift
  iOS-App/AgentDashboard/AgentDashboard/Services/CacheService.swift
  iOS-App/AgentDashboard/AgentDashboard/Services/HapticFeedbackService.swift
  iOS-App/AgentDashboard/AgentDashboard/Services/KeyboardShortcutService.swift
  iOS-App/AgentDashboard/AgentDashboard/Services/KeychainService.swift
  iOS-App/AgentDashboard/AgentDashboard/Services/LazyLoadingService.swift
  iOS-App/AgentDashboard/AgentDashboard/Services/NotificationService.swift
  iOS-App/AgentDashboard/AgentDashboard/Views/ContentView.swift
  iOS-App/AgentDashboard/AgentDashboard/Views/Onboarding/OnboardingView.swift
  iOS-App/AgentDashboard/AgentDashboard/Views/Settings/SettingsView.swift
  iOS_Build_Final_Fix_Summary_20250903.md
  iOS_Build_Validation_Scripts.md
  tca_import_fix_results.json
Owners: @unity-claude/docs-team, @unity-claude/admin, @unity-claude/config-team

Fix iOS build: Add missing view implementations
  iOS-App/AgentDashboard/AgentDashboard/Views/AgentsView.swift
  iOS-App/AgentDashboard/AgentDashboard/Views/AnalyticsView.swift
  iOS-App/AgentDashboard/AgentDashboard/Views/AppView.swift
  iOS-App/AgentDashboard/AgentDashboard/Views/TerminalView.swift
Owners: @unity-claude/admin

Clean up iOS app structure for single entry point
  iOS-App/AgentDashboard/AgentDashboard/AgentDashboardApp.swift
  iOS-App/AgentDashboard/AgentDashboard/Views/AppView.swift
  iOS-App/AgentDashboard/AgentDashboard/Views/TerminalView.swift
Owners: @unity-claude/admin

Remove unused AppView to prevent compilation conflicts
  iOS-App/AgentDashboard/AgentDashboard/Views/AppView.swift
  iOS-App/build_validation.sh
  iOS-App/extract_diagnostics.sh
Owners: @unity-claude/admin

CRITICAL: Identify missing Xcode project references
  CRITICAL_XCODE_PROJECT_ISSUE.md
  codemagic_complete_checks.yaml
  codemagic_sanity_checks.yaml
Owners: @unity-claude/docs-team, @unity-claude/admin

Add clear fix instructions for missing Xcode project references
  codemagic_membership_check.yaml
  iOS-App (2).zip
  iOS_FIX_REQUIRED.md
Owners: @unity-claude/admin, @unity-claude/docs-team

Add temporary in-file wrappers to fix build
  iOS-App/AgentDashboard/AgentDashboard/Views/ContentView.swift
Owners: @unity-claude/admin

build try 9
  CODEMAGIC_FINAL_SETUP.md
Owners: @unity-claude/docs-team

build try 20
  CODEMAGIC_QUICK_SETUP.md
  codemagic_diagnostic_extraction.yaml
Owners: @unity-claude/docs-team, @unity-claude/admin

Enhance codemagic.yaml with sanity checks and detailed error extraction
  codemagic.yaml
Owners: @unity-claude/admin

Fix YAML indentation for Python heredoc script
  codemagic.yaml
Owners: @unity-claude/admin

Fix @main App sanity check with debug output
  codemagic.yaml
Owners: @unity-claude/admin

Fix codemagic.yaml to ensure diagnostics always run
  codemagic.yaml
Owners: @unity-claude/admin

Fix Python heredoc indentation in codemagic.yaml
  codemagic.yaml
Owners: @unity-claude/admin

build try 21
  codemagic.yaml
  codemagic_complete.yaml
Owners: @unity-claude/admin

build try 22
  codemagic.yaml
Owners: @unity-claude/admin

Fix codemagic.yaml diagnostics extraction
  codemagic.yaml
Owners: @unity-claude/admin

Fix codemagic.yaml CI/CD issues
  codemagic.yaml
Owners: @unity-claude/admin

Add ContentView.swift at root to fix Xcode project reference
  iOS-App/AgentDashboard/AgentDashboard/ContentView.swift
Owners: @unity-claude/admin

Remove duplicate ContentView.swift from Views folder
  iOS-App/AgentDashboard/AgentDashboard/Views/ContentView.swift
Owners: @unity-claude/admin
